.advantages {
  padding-bottom: 35px;
  @media (min-width: 993px) {
    background: #f4f4f4;
    padding-top: 65px;
  }
}

.advantages__title {
  padding-right: 47px;
  padding-left: 43px;
  font-size: 32px;
  font-weight: bold;
  color: #8d81ac;
  text-align: center;
  @include montserratBold;
}

.advantages__item {
  padding-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 481px) {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: start;
    align-self: start;
  }
}

.advantages__item_title {
  padding-top: 27px;
  color: $textColorDarkGrey;
  font-weight: normal;
  font-size: 16px;
  @include montserratBold;
  text-align: center;
  @media (min-width: 481px) {
    text-align: left;
    padding-top: 0px;
  }
}

.advantages__item_text {
  line-height: 21px;
  color: $textColorLightGrey;
  padding-right: 24px;
  padding-left: 27px;
  padding-top: 14px;
  text-align: center;
  font-style: normal;
  @media (min-width: 481px) {
    text-align: left;
    padding-left: 0px;
  }
}

.advantages__mainPicture-container {
  padding-top: 64px;
  text-align: right;
  @media (min-width: 481px) {
    padding-left: 68px;
    padding-top: 76px;
  }
  @media (min-width: 993px) {
    padding-top: 0px;
  }
}

.advantages__item_img {
  display: flex;
  justify-content: center;
}

.advantages_mainImg {
  max-width: 100%;
  height: 100%;
}

.advantages {
  @media (min-width: 993px) {
    padding-left: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "item1 item5"
      "item1 item6"
      "item2 item6"
      "item2 item6"
      "item3 item6"
      "item3 item6"
      "item4 item6"
      "item4 item6";
  }
}

.grid1 {
  grid-area: item1;
}
.grid2 {
  grid-area: item2;
}
.grid3 {
  grid-area: item3;
}
.grid4 {
  grid-area: item4;
}
.grid5 {
  grid-area: item5;
}
.grid6 {
  grid-area: item6;
}
