.editor__title {
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
  color: #635c73;
  font-weight: bold;
  font-size: 26px;
  @include montserratBold;
}

.editor__text {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 36px;
  color: $textColorDarkGrey;
  text-align: center;
  line-height: 20px;
}

.gitbuttons-container {
  padding-bottom: 88px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gitbuttons-container__item {
  height: 26px;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
  display: grid;
  grid-template-columns: 80px 40px;
}

.gitbuttons-container__item__name {
  border-radius: 4px 0px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #e9e9e9;
  border: 1px solid #d3d3d3;
}

.gitbuttons-container__item__icon {
  height: 16px;
  width: 16px;
  padding-left: 10px;
}

.gitbuttons-container__item__title {
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 10px;
  color: #2c2c2c;
}

.gitbuttons-container__item_count {
    border-radius: 0px 4px 4px 0px;
    background: white;
    border: 1px solid #d3d3d3;
}

.gitbuttons-container__item__text {
  font-size: 12px;
  font-weight: bold;
  color: #2c2c2c;
}

