.page-header {
  background-color: #27262a;
  padding: 31px 0;
  position: relative;

  &__logo-img {
    background-image: url("img/header/src_img_header_navbar-logo.png");
    width: 43px;
    height: 41px;
    display: inline-block;
  }

  &__logo-text {
    display: none;
  }

  &__navigation {
    display: none;

    &.active {
      display: block;
      width: 290px;
      background-color: #333333;
      padding-bottom: 11px;
      position: absolute;
      top: 105px;
      right: 15px;
      z-index: 1;
    }
  }
  &__menu-link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 32px 0 35px 34px;
    border-bottom: 2px solid #3b3b3b;
    font-size: 1.85em;
    position: relative;
    @include montserratReg;

    &:focus::before {
      content: "";
      width: 8px;
      height: 53px;
      background-color: $themeColor;
      position: absolute;
      top: 19px;
      left: 0;
    }

    &:focus {
      color: $themeColor;
    }
  }

  &__hamburger {
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 41px;
    right: 15px;

    &::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 26px;
      background-color: #fff;
      position: absolute;
      top: 10px;
      right: 0;
      border-radius: 20px;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 3px;
      width: 26px;
      background-color: #fff;
      position: absolute;
      top: 20px;
      right: 0;
      border-radius: 20px;
    }
  }
}
.flex-container {
  @include flexContainer(row);
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  border-radius: 20px;
  @include montserratBold;

  &--purple-bg {
    background-color: $themeColor;
  }

  &--width-s {
    width: 119px;
    height: 37px;
  }

  &--position {
    margin: 0 auto;
  }
  &--small-font {
    font-size: 1.07em;
  }
}
@media screen and (min-width: 481px) {
  .page-header {
    padding: 22px 0;
    position: relative;
    &__logo {
      order: 1;
      grid-area: logo;
      text-decoration: none;
    }

    &__logo-img {
      display: inline-block;
      margin-left: 10px;
    }

    &__logo-text {
      display: block;
      color: $themeColor;
      text-transform: uppercase;
      font-family: Lato;
      font-size: 2em;
      font-weight: 700;
      padding-top: 7px;
      padding-left: 60px;
    }

    &__navigation {
      display: inline-block;
      order: 3;
      grid-area: nav;
      justify-self: center;
      padding-top: 22px;
      width: auto;
      background-color: inherit;
      padding-bottom: 0;
      position: inherit;
      z-index: 0;
      &.active {
        display: inline-block;
        order: 3;
        grid-area: nav;
        justify-self: center;
        padding-top: 22px;
        width: auto;
        background-color: inherit;
        padding-bottom: 0;
        position: inherit;
        z-index: 0;
      }
    }

    &__hamburger {
      display: none;
    }
    &__menu {
      &--flex {
        @include flexContainer(row);
        justify-content: space-between;
      }
    }
    &__menu-item {
      padding-right: 23px;
    }
    &__menu-link {
      color: $themeColor;
      font-size: 1.14em;
      @include montserratBold;
      text-decoration: none;
      display: inline-block;
      padding: 0;
      border-bottom: none;
      position: inherit;
      &:focus::before {
        content: none;
      }
      &:focus {
        color: #ffffff;
      }
    }
  }

  .flex-container {
    display: grid;
    grid-template-areas:
      "logo btn"
      "nav nav";
  }
  .btn {
    &--width-s {
      width: 145px;
      height: 38px;
    }
    &--position {
      margin-right: 10px;
      order: 2;
      grid-area: btn;
      justify-self: end;
    }
    &--small-font {
      font-size: 1.142em;
    }
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    &__menu-item {
      padding-right: 55px;
    }
  }
}

@media screen and (min-width: 992px) {
  .page-header {
    padding: 30px 0;

    &__logo {
      order: 1;
      text-decoration: none;
    }
    &__logo-img {
      &:hover {
        background-image: url("img/header/src_img_header_navbar-logo-hover.png");
      }
    }
    &__menu {
      &--flex {
        @include flexContainer(row);
        justify-content: space-between;
        width: 125%;
      }
    }
    &__menu-item {
      padding-right: 0;
    }

    &__menu-link:hover {
      color: #ffffff;
    }

    &__logo-img {
      display: inline-block;
      margin-left: 30px;
    }

    &__logo-text {
      &:hover {
        color: #ffffff;
      }
    }
    &__navigation {
      display: inline-block;
      order: 2;
      grid-area: nav;
      justify-self: center;
      padding-top: inherit;
      margin-left: 25%;
    }
  }
  .flex-container {
    @include flexContainer(row);
    justify-content: space-between;
  }
  .btn {
    &--position {
      margin-right: 30px;
      order: 3;
      grid-area: btn;
      justify-self: end;
    }
    &:hover {
      background-color: #ffffff;
      color: $themeColor;
    }
  }
}
@media screen and (min-width: 1150px) {
  .page-header {
    &__navigation {
      margin-left: 360px;
    }
    &__menu {
      &--flex {
        width: 520px;
      }
    }
  }
}
