.prices {
  background-image: url("img/forkSubscriptionPricing/src_img_pricingBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 12px;
  @media (min-width: 481px) {
    padding-bottom: 94px;
  }
  @media (min-width: 993px) {
    padding-bottom: 147px;
  }
}

.prices__title {
  @include montserratBold;
  color: white;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  @media (min-width: 481px) {
    padding-top: 88px;
    padding-bottom: 39px;
    font-size: 42px;
  }
  @media (min-width: 1200px) {
    padding-top: 112px;
    padding-bottom: 112px;
    font-size: 42px;
  }
}

.prices__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 957px) {
        width: 646px;
      }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
  }

}

.prices__container__item {
  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 31px;
  padding-right: 31px;
  width: 257px;
  @media (min-width: 1200px) {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.prices__container__item_special {
    margin-top: 9px;
    margin-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    width: 299px;
   
}

.prices__container__item_header {
  text-transform: uppercase;
  height: 97px;
  background: #665c69;
  color: #ffffff;
  @include montserratBold;
  font-size: 24px;
  font-weight: normal;
}

.prices__container__item_description {
  background: #5d5160;
  padding-bottom: 36px;
  height: 360px;
}

.prices__container__item_special_description {
  background: #423046;
  padding-bottom: 36px;
  height: 449px;
}

.prices__container__item_description_price {
  @include montserratBold;
  padding-top: 30px;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.prices__container__item_special_description_price {
    @include montserratBold;
  padding-top: 14px;
  font-size: 82px;
  text-transform: uppercase;
  color: #ffffff;
}

.prices__container__item_description_period {
  @include montserratBold;
  padding-top: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}

.price__separator {
  background: #8d81ac;
  margin-top: 38px;
  height: 5px;
  width: 60px;
  border: none;
  margin-bottom: 30px;
}

.prices__container__item_description_text {
  @include montserratBold;
  color: #ffffff;
  font-weight: normal;
  line-height: 28px;
}

.prices__container__item__button {
  margin-top: 37px;
  @include montserratBold;
  width: 163px;
  height: 45px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  background: #766c79;
  border-radius: 30px;
}

.prices__container__item__special_button {
  margin-top: 83px;
  @include montserratBold;
  width: 163px;
  height: 45px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  background: #605163;
  border-radius: 30px;
}

.prices__container__item_special_header {
  background: #39293e;
  text-transform: uppercase;
  height: 111px;
  color: #ffffff;
  @include montserratBold;
  font-size: 24px;
  font-weight: normal;
}

.dollar_sign {
  font-weight: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}