@import "reset";
@import "variables";
@import "mixins";

body {
  color: $textColorLightGrey;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.container {
  min-width: 320px;
  max-width: 1220px;
  width: 100%;
  /*padding-left: 10px;
  padding-right: 10px; */
  margin: 0 auto;
}

@import "page-header";
@import "banner";
@import "testimonials";
@import "editor";
@import "advantages";
@import "prices";
